<form action="#">
  <h1>Stupid Coach</h1>
  <div class="answer">
    <input type="text" name="answer" value="<%= params[:question] %>" placeholder="Nothing to say!">
    <%= link_to "Ask a new question", ask_path %>
  </div>
   
</form>